*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}
.navegacion{
    
    opacity: 0.7;
}
.navbar-light .navbar-nav .nav-link{
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover{
    opacity:0.6;
    transform: scale(1.1);
}
.fa-arrow-up{
    color:#9c969c;
    padding: 20px;
    font-size: 50px;
    
}
.hero{
    background-image: linear-gradient(120deg, rgba(64, 55, 65, 0.699) 0%, rgba(85, 27, 35, 0.692) 100%), url("../img/estadiofutbol.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 60px;
    color: #fff;
}

.textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #a18cd1;
    border-radius: 8px;
    color: #fff;
}
.svg-hero{
    position:inherit;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    color: #9c969c;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}

/* Info */

.info{
    background-color: #4e4d4e;
    color: #fff;
}


/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}

.card{
    
    width: 25%;
    text-align: center;
    height: 410px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
    padding: 10px;
    
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 40px;
    color: #9c969c;
}

.card p{
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
}
.card h3{
    font-size: 23px;
    color: #9c969c;
}
/* ------ PAGINA SERVICIOS ----------*/
.serviciosGrid{
    display: grid;
    grid-template-columns: repeat(2fr*4);
    grid-template-rows: 1fr 2fr;
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: 
    "ideaServicios ideaServicios ideaServicios ideaServicios"
    "punto1 punto2 punto3 punto4";
    width: 100%;
  }
  .ideaServicios{
    grid-area: ideaServicios;
  }
  .punto1{
    grid-area: punto1;
  }
  .punto2{
    grid-area: punto2;
  }
  .punto3{
    grid-area: punto3;
  }
  .punto4{
    grid-area: punto4;
  }
  .ideaServicios p{
    text-align: center;
    color: #9c969c;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 5px;
  }
  .subtituloServicios{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #9c969c;
  }
  .detalleServicios{
    text-align: center;
    padding: 10px;
    margin: 10px;
    color:#9c969c;
  }
.iconoServicios{
  justify-content: center;
  display: flex;
  font-size: 50px;
  color:#9c969c;
  padding: 10px;
}

  .tituloServicios{
    display: flex;
    justify-content: left;
    letter-spacing: 7px;
    padding: 8px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
.serviciosGrid{
  display: grid;
  grid-template-columns: repeat(2fr*4);
  grid-template-rows: 1fr 2fr;
  grid-gap: 20px;
  grid-auto-flow: row;
  grid-template-areas: 
  "ideaServicios ideaServicios ideaServicios ideaServicios"
  "punto1 punto2 punto3 punto4";
  width: 100%;
}

/* galeria */

.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/* info2 */

.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}


/* footer */

footer{
    background: #4e4d4e;
    color: #fff;
}
.copyright{
    justify-content: center;
    display: flex;
    color: #9c969c;
    font-size: 15px;
}
.socialMedia{
    display: flex;
    justify-content: center;
}
.socialMedia a{
    padding: 20px;
    font-size: 40px;
    color: #9c969c;
}
.socialMedia a:hover{
opacity:0.6;
    transform: scale(1.5);
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color:#9c969c;
    background: #fff;
}

@media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
        height: 315px;
    }

    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-size: 30px;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .card{
        height: 380px;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
}